version: "3.9"

services:
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    container_name: drive-redis-prod
    volumes:
      - redis-data:/data

  mongo:
    image: mongo:7
    restart: unless-stopped
    container_name: drive-mongo-prod
    volumes:
      - mongo-data:/data/db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    restart: unless-stopped
    container_name: driver-backend-prod
    environment:
      PORT: 5000
      REDIS_URL: redis://redis:6379
      MONGO_URI: mongodb://mongo:27017/driveapp
      CORS_ORIGIN: http://localhost
    depends_on:
      - redis
      - mongo

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    restart: unless-stopped
    container_name: driver-frontend-prod
    ports:
      - "8081:80"
    depends_on:
      - backend

volumes:
  redis-data:
  mongo-data:
