version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: drive-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build:
      context: ./backend
    container_name: drive-backend
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      MONGO_URI: mongodb://mongo:27017/driveapp
      CORS_ORIGIN: http://localhost:5173
      MINIO_ENDPOINT: ${MINIO_ENDPOINT}
      MINIO_PORT: 443
      MINIO_USE_SSL: "true"
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
      MINIO_BUCKET: ${MINIO_BUCKET}
      UPLOAD_AUTH_TOKEN: ${UPLOAD_AUTH_TOKEN}
      CHOKIDAR_USEPOLLING: "true"
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
    container_name: drive-frontend
    ports:
      - "5173:5173"
    environment:
      VITE_PROXY_TARGET: http://backend:5000
      CHOKIDAR_USEPOLLING: "true"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

volumes:
  mongo-data:
